@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrollbars */
  }
  

/* styles.css (example) */
body.light-theme {
   color: aqua;
}

body.dark-theme {
  color: red;
}